backports.entry-points-selectable==1.1.1
cfgv==3.3.1
distlib==0.3.3
filelock==3.4.0
identify==2.4.0
importlib-metadata==4.8.2
nodeenv==1.6.0
phonetics==1.0.5
platformdirs==2.4.0
pre-commit==2.15.0
python-Levenshtein==0.12.2
PyYAML==6.0
six==1.16.0
toml==0.10.2
typing-extensions==4.0.0
virtualenv==20.10.0
zipp==3.6.0
